.bundle
db/*.sqlite3
log/*.log
tmp/**/*
coverage
coverage/**/*
.DS_Store

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

public/uploads/**/*
public/content/**/*
public/content
public/.sass-cache/**/*
*.scssc
.idea
.idea/**/*
