@import "../mixins";
@import "../globals";

#main {
  width:    100%;
  text-align: center;

  #title {
    margin:     30px 0 10px 0;
  }
  #embed_hdr {
    margin:     10px 0 10px 0;
  }

  input[type=text] {
    width:  400px;
  }

  #comment {
    font-style: italic;
    margin-top:     15px;
  }
}

