<h1>Embed LifeSize images on your own site</h1>

<p>Displaying LifeSize images on your own site is easy. Using the LifeSizer embeddable widget, you can be guaranteed
  that your users are seeing your products or objects in their actual true size, regardless of the size of their displays. <br/>
  You can use lifesizer on your blog, a personal or business website,
  a web portal, e-commerce store, even in e-bay auctions or on other shopping platforms.
</p>

<p>We have a small javascript widget that is very easy to integrate on any web page. If you know how to cut and paste text,
  you're halfway there already.</p>

<h4>Here's how it works:</h4>

<ol>
<li>
  Register for a free LifeSizer account, or sign in if you already have one.
</li>
Looks like that's taken care of already!

<li>
  Add and calibrate one or more images for LifeSize display.
</li>
This is actually optional as you can also use certain images that have been added by others.

<li>
  Request an application key to use LifeSizer on your site
</li>
There are only a couple of questions to answer and you will be given access immediately.

<li>
  Grab our javascript code and insert this in your web page.
</li>
Once your application key is approved, you will find a link to the instructions here.

</ol>
</p>

<h4>I have another question...</h4>
<p>Please check out our FAQ where you can find answers to many commonly asked questions.</p>
