body {
  font-family: Helvetica;
  background-color: #fff;
  color: #000000;
  -webkit-text-size-adjust: none; }

#wrapper {
  height: 100%;
  width: 100%; }

#content {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -10;
  /* overflow:           scroll;
     -webkit-overflow-scrolling: touch; */ }
  #content .lifesize {
    -webkit-transform: translate3d(0, 0, 0);
    margin: 0 auto;
    display: block; }
  #content #flash_error {
    font-size: 16px;
    color: red; }

.banner-msg {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  font-size: 14px; }

#device-msg {
  bottom: 0;
  text-align: center;
  line-height: 26px;
  background-color: grey;
  color: white;
  font-style: italic; }

#alert-msg {
  top: 80px; }
