@import '../mixins';

.image {
  @include  rounded;
  @include  shadow;

  background-color:   white;
  border:             1px solid #cccccc;
  clear:              both;
  margin-bottom:      8px;
  height:             auto;

  .thumbnail {
      float:          left;
      width:          150px;
      height:         170px;
      margin:         5px 0 5px 10px;
      background-color: white;
      line-height:    20px;
      text-align:     center;

      img {
        display:        block;
        margin-left:    auto;
        margin-right:   auto;
      }
  }
  .metadata {
    float:            left;
    width:            400px;
    margin:           10px;
    padding-left:     20px;
  }
  .controls {
    float:            left;
    margin-top:       20px;
  }
}
