
// used
$input_background_color:  #EDF2F7;
$default_font_color:      #363636;
$header_font_color:       #282828;

$link_color:              #016fdd;
$link_color_hover:        #0095ff;

$top_nav_font_color:        $header_font_color;
$top_nav_font_color_hover:  $link_color;
$top_nav_dd_font_color:     #555;

// image border highlight color
$highlight_color:           #ff7700;
// image border default color
$image_border_color:        #aaa;

$error_highlight_color:     #CD0A0A;

// unknown
$light_color:           #ffffff;

$accent_1:          #cccc9f;
$accent_2:          #99ccff; /* light blue */
$dark_color:        #2b2b2b;
$bright_color:      #db4105;
$error_highlight_color: #CD0A0A;
$image_bg_color:    #ffffff;
