#embedCode {
  width: 750px;
  height: 200px; }

.embedHeader {
  font-size: 14px;
  font-weight: bold;
  font-style: italic; }

.exampleTable .leftColumn {
  float: left;
  width: 550px; }
.exampleTable .rightColumn {
  margin-left: 30px;
  float: left; }

.clearBoth {
  clear: both; }
