<!-- START FOOTER -->
<div id="footer">
    <div class="footer-block">
        <span class="copyright">&copy; 2012 LifeSizer, Inc.</span>
        <%= link_to_cms 'Privacy Policy &amp;', '/privacy', :class=> 'privacy' %>
        <%= link_to_cms '&nbsp; Terms', '/terms-of-use', :class=> 'privacy' %>

       	<ul class="social-networks">
            <li><a href="http://twitter.com/#!/lifesizer" target="_blank"><img src="http://www.lifesizer.com/wp-content/themes/lifesizer/images/twitter.gif" width="24" height="18" alt="twitter" /></a></li>
            <li><a href="http://www.facebook.com/LifeSizer" target="_blank"><img src="http://site.lifesizer.com/wp-content/themes/lifesizer/images/facebook.gif" width="17" height="18" alt="facebook" /></a></li>
       </ul>
    </div>
</div>
<!-- END FOOTER -->
