<!-- START NEWS -->
<div class="news-home">

  <div class="inner">
    <h2>News</h2>
    <ul>
      <li>
        <a href="http://www.yourinspirationweb.com/tf/bolder/flash-news/bolder-theme-premium-wordpress-buy-on-theme-forest/">
          LifeSizer is da bomb
      </li>
      <li>
        <a href="http://www.yourinspirationweb.com/tf/bolder/flash-news/all-right-now-the-news-are-dynamics/">All right!
          Now the news are dynamics!</a> | January 16, 2011
      </li>
      <li>
        <a href="http://www.yourinspirationweb.com/tf/bolder/flash-news/lorem-ipsum-news-new-paragraph-of-lorem-ipsum/">Make
          your choice from 18 different skins</a> | January 16, 2011
      </li>
    </ul>
  </div>

  <div class="clear"></div>

</div>
<!-- END NEWS -->
